<div class="container container-show mb-5">
  <div class="col-12 center" id="event_<%= @event.id %>">
    <div class="container my-2">
      <div>
        <div class="mb-2">Edit Note:</div>
        <%= render 'form', note: @note %>
      </div>
    </div>
  </div>