//containers, wrappers etc

.container-show {
  margin-top: 5%;
  border: solid 1px rgb(238, 237, 237);
  border-radius: 5px;
  padding: 10px 0;
  background-color: rgb(255, 255, 255);
}

.container-index {
  margin-top: 5%;
}

.text-info-custom {
  color: #3174ad;
}

.custom-description {
  font-size: 1.8vh;
  margin-top: 4px;
}

.text-muted-custom {
  font-size: 2vh;
}

.small-text {
  font-size: 1.5vh;
}
