//Colors

$white: #ffffff;
$lighter-yellow: rgb(255, 225, 143);
$yellow: rgb(253, 192, 25);
$yellow-hover: rgba(255, 200, 50, 0.418);

$dark-red: rgb(143, 8, 8);
$my-green: rgb(24, 73, 1);
$light-orange: rgb(219, 101, 4);

//mixins

@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
  box-shadow: $x-axis $y-axis $blur $color;
}
